In [1]:
import pyodbc
import pandas as pd
from hdbcli import dbapi
from datetime import datetime
from sqlalchemy import text

In [3]:
conn_sql = pyodbc.connect(
            DRIVER="ODBC Driver 17 for SQL Server",
            SERVER="10.1.21.236\SQLEXPRESS",
            DATABASE ="CheckPostingDB",
            UID="db_user",
            PWD="Or4cl3#1"
        )

In [4]:
DF_DATOS = pd.read_sql_query('''SELECT RVCID, PCWSID, FCRID, FCRInvNumber, MicrosChkNum, InvoiceType, InvoiceLetter, 
           MicrosBsnzDate, FCRBsnzDate, ItemIndex, ItemType, ItemObjNum, ItemQty, 
           ItemTotal, ItemTaxTotal, ItemTaxRate, ItemStatus, ExtraField1, ExtraField2, 
           ExtraField3, ExtraField4, ExtraField5, ExtraField6, ExtraField7, ExtraField8, 
           PropertyID, StoreID, FiscalRef
    FROM dbo.FCR_INVOICE_DETAIL_BP''', conn_sql)

C:\Users\ching\AppData\Local\Temp\ipykernel_7512\3588085707.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  DF_DATOS = pd.read_sql_query('''SELECT RVCID, PCWSID, FCRID, FCRInvNumber, MicrosChkNum, InvoiceType, InvoiceLetter,

In [5]:
DF_DATOS[1:3]

,RVCID,PCWSID,FCRID,FCRInvNumber,MicrosChkNum,InvoiceType,InvoiceLetter,MicrosBsnzDate,FCRBsnzDate,ItemIndex,...,ExtraField2,ExtraField3,ExtraField4,ExtraField5,ExtraField6,ExtraField7,ExtraField8,PropertyID,StoreID,FiscalRef
1,24870,34538,0,1613020,1261,91,,2025-03-12,2025-03-12 08:50:06.420,1,...,,,,,,,,14589,26995,24870|NCP1613020|91|34538
2,24870,34538,0,1613020,1261,91,,2025-03-12,2025-03-12 08:50:06.420,2,...,,,,,,,,14589,26995,24870|NCP1613020|91|34538

In [6]:
 conn_hana= dbapi.connect(
        address="548b50f4-1fe9-4725-baea-e9f96bb4f092.hana.prod-us10.hanacloud.ondemand.com",
        port= 443,
        user="DBADMIN",
        password="Analitica2022"
        )

In [ ]:
pd.read_sql_query('SELECT * FROM COLSUBSIDIO_HDI.T_SIMP_CAPS_FCR_INVOICE_DETAIL_BP;',conn_hana)

C:\Users\ching\AppData\Local\Temp\ipykernel_7512\1473236225.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query('SELECT * FROM COLSUBSIDIO_HDI.T_SIMP_CAPS_FCR_INVOICE_DETAIL_BP;',conn_hana)

Empty DataFrame
Columns: [RVCID, PCWSID, FCRID, FCRINVNUMBER, MICROSCHKNUM, INVOICETYPE, INVOICELETTER, MICROSBSNZDATE, FCRBSNZDATE, ITEMINDEX, ITEMTYPE, ITEMOBJNUM, ITEMQTY, ITEMTOTAL, ITEMTAXTOTAL, ITEMTAXRATE, ITEMSTATUS, EXTRAFIELD1, EXTRAFIELD2, EXTRAFIELD3, EXTRAFIELD4, EXTRAFIELD5, EXTRAFIELD6, EXTRAFIELD7, EXTRAFIELD8, PROPERTYID, STOREID, FISCALREF]
Index: []

[0 rows x 28 columns]

In [26]:
from sqlalchemy import insert

In [27]:
pip install sqlalchemy-hana

Collecting sqlalchemy-hanaNote: you may need to restart the kernel to use updated packages.

  Downloading sqlalchemy_hana-3.0.1-py3-none-any.whl.metadata (19 kB)
Requirement already satisfied: sqlalchemy<3,>=1.4.0 in c:\users\ching\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy-hana) (2.0.40)
Requirement already satisfied: hdbcli~=2.10 in c:\users\ching\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy-hana) (2.24.21)
Requirement already satisfied: greenlet>=1 in c:\users\ching\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy<3,>=1.4.0->sqlalchemy-hana) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\ching\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy<3,>=1.4.0->sqlalchemy-hana) (4.12.2)
Downloading sqlalchemy_hana-3.0.1-py3-none-any.whl (28 kB)
Installing collected packages: sqlalchemy-hana
Successfully installed sqlalchemy-hana-3.0.1

In [ ]:
insert('COLSUBSIDIO_HDI.T_SIMP_CAPS_FCR_INVOICE_DETAIL_BP').values(nam="RVCID")

In [ ]:
DF_DATOS.to_sql(name='COLSUBSIDIO_HDI.T_SIMP_CAPS_FCR_INVOICE_DETAIL_BP',con=conn_hana,schema='COLSUBSIDIO_HDI',if_exists='append',method='multi')

In [25]:
DF_DATOS.to_sql(name="T_SIMP_CAPS_FCR_INVOICE_DETAIL_BP",con=conn_hana)

C:\Users\ching\AppData\Local\Temp\ipykernel_7512\3213632673.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  DF_DATOS.to_sql(name="T_SIMP_CAPS_FCR_INVOICE_DETAIL_BP",con=conn_hana)

DatabaseError: Execution failed on sql '
        SELECT
            name
        FROM
            sqlite_master
        WHERE
            type IN ('table', 'view')
            AND name=?;
        ': (259, 'invalid table name:  Could not find table/view SQLITE_MASTER in schema DBADMIN: line 5 col 13 (at pos 58)')